html {
  height: 100%;
  width: 100%;
  background-color: rgb(4, 0, 255);
}

@font-face {
  font-family: 'CustomFont';
  src: url('fonts/videotype.ttf') format('truetype');
}

body {
  width: 98%;
  background-color: #ffffff;
  border: 5px solid rgb(171, 171, 171);
}

button {
  font-family: 'Consolas', sans-serif;
  background-color: rgb(127, 127, 127);
  cursor: pointer;
  margin: auto;
  border: 0px;
  flex-direction: row;
  justify-content: center;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.link {
  font-family: 'Consolas', sans-serif;
  color: #ff8400;
  cursor: pointer;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #ff4747;
  color: rgb(255, 255, 255);
}

.navbar {
  height: 20px;
  width: auto;
  background-color: rgb(127, 127, 127);
  margin: auto;
  display: flex;
  justify-content: center;
  border: 5px solid rgb(171, 171, 171);
}

header {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'CustomFont2';
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  color: rgb(0, 60, 255);
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: 'Consolas', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.p2 {
  font-family: 'Consolas', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

footer {
  font-family: 'Consolas', sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.image {
  height: 300px;
  width: auto;
  border: 5px solid rgb(255, 204, 0);
  margin: auto;
  display: flex;
  justify-content: center;
}

.image2 {
  height: 400px;
  width: auto;
  border: 3px solid rgb(255, 204, 0);
  border-radius: 50%;
  display: flex;
  justify-content: left;
}

.image3 {
  height: 165px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}